---
layout: page
title: The QML Guide
subtitle: A quality-driven guide through quantum machine learning.
editable: false
---

<section>

    <p>This guide is an introduction to basic and advanced concepts of the bash shell.</p>

    {% include contribute.html %}

    <p><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></p>

    <h2>Exercises</h2>
    <p>After introducing new practical concepts, the guide offers a set of exercises to allow you to practice your new knowledge.  For a summary of all exercises in this guide, see <a href="exercises">our exercises index</a>.</p>

    <h2>Chapters</h2>
    <ol id="chapter_list">
        {% assign chapters = site.pages | where: 'layout', 'chapter' | sort: 'chapter' %}
        {% for chapter in chapters %}
            <li><label for="done_{{ chapter.id }}"><input type="checkbox" id="done_{{ chapter.id }}"> I'm done</label>
                <a href="{{ chapter.url }}">{{ chapter.title }}</a><sup>{{ chapter.status }}</sup>: {{ chapter.subtitle }}
                <p>{{ chapter.description }}</p></li>
        {% endfor %}
    </ol>

</section>
