<!DOCTYPE html>
<html class="no-js">
    {% include head.html %}
    <body id="{{ page.id }}">

<!---        {% if page.editable or page.editable == null %}
        <a class="page-edit fixed" href="https://prose.io/#lhunath/guide.bash.academy/edit/gh-pages/{{ page.path }}">[edit this page]</a>
        {% endif %} -->

	{% if page.editable or page.editable == null %}
        <a class="page-edit fixed" href="https://prose.io/#Scinawa/HandbookQML/edit/gh-pages/{{ page.path }}">[edit this page]</a>
        {% endif %} 


        <header data-stellar-background-ratio="0.2">
            <div>
                <h1>{{ page.title }}</h1>
                <h2>{{ page.subtitle }}</h2>
            </div>

            {% if page.description %}
            <h3>{{ page.description }}</h3>
            {% endif %}

            {% if page.editable or page.editable == null %}
                <a class="page-edit" href="https://prose.io/#lhunath/guide.bash.academy/edit/gh-pages/{{ page.path }}">[edit this page]</a>
            {% endif %}
        </header>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> or <a href="https://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {{ content }}

        {% include footer.html %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="/js/plugins.js"></script>
        <script src="/js/vendor/toc.bower.min.js"></script>
        <script src="/js/main.js"></script>


    </body>
</html>
